In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("Zerodha List/ONGC.csv")

In [7]:
data.head()

                  Date    Open    High     Low   Close   Volume
0  2022-04-11 09:15:00  170.45  170.45  169.70  169.95   308369
1  2022-04-11 09:16:00  170.05  170.40  170.05  170.40   465442
2  2022-04-11 09:17:00  170.45  170.45  170.20  170.45   678209
3  2022-04-11 09:18:00  170.40  171.80  170.40  171.65   930195
4  2022-04-11 09:19:00  171.60  172.00  171.60  172.00  1003596